* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-content: center;
    padding: 2vh;
    height: 96vh;
    width: auto;
    background-color: rgb(77, 199, 24);  
}

.rechner {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 2vh;
    height: auto;
    width: 96vh;
    border-radius: 15px;
    background-color: rgb(39, 91, 16);
    box-shadow: 0px 0px 20px wheat;
}

#ergebnisBereich {
    width: auto;
    height: 25%;
    margin: 3%;
    padding-right: 2%;
    background-color: #2d2d2d;
    flex-direction: column;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 8vmax;
    color: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: start;
    color: white;
}

tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    height: 99%;
    background-color: #2d2d2d;
    border-radius: 3%;
    padding: 2px;
}

tr {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 19.5%;
    padding: 0.1%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.norm {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2%;
    margin: 0.3%;
    width: 24%;
    background-color: rgb(25, 25, 25);
    text-align: center;
    font-size: 30px;
    border-radius: 15%;
    box-shadow: 1px 1px 5px grey;
    text-shadow: 1px 1px 15px white;
}

.multi {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2%;
    margin: 0.3%;
    width: 19.5%;
    background-color: rgb(25, 25, 25);
    text-align: center;
    font-size: 30px;
    border-radius: 15%;
    box-shadow: 1px 1px 5px grey;
    text-shadow: 1px 1px 15px white;
}

td:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    text-shadow: 2px 2px 20px yellow;
    color: rgb(255, 255, 159);
}

#ergebnis {
    background-color: blue;
}

#ergebnis:hover {
    background-color: rgb(0, 89, 255);
}

.funktionstasten {
    background-color: rgb(62, 9, 9);
}
