/* Standardwerte für komplettes HTML */
* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Bereich für die headBox */

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    vertical-align: top;
    width: 98%;
    height: 100%;
    padding: 0 1% 0 1%;
}

.headBoxSmall3 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 2% 20% 0 20%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 60%;
    border: solid 1px black;
    transform: perspective(2px) rotateX(0.5deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
}

.headBoxSmall2 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 1% 32% 0 32%;
    padding: 2% 0 2% 0;
    height: auto;
    width: 36%;
    border: solid 1px black;
    transform: perspective(2px) rotateX(0.8deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
}

.headBoxSmall1 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 1% 39% 0 39%;
    padding: 1% 0 1% 0;
    height: auto;
    width: 22%;
    border: solid 1px black;
    transform: perspective(0.5px) rotateX(0.8deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
}

.headBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 3% 10.5% 0 10.5%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 79%;
    border: solid 1px black;
    transform: perspective(20px) rotateX(0.5deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
}


/* Bereich für den coreBox */

.coreBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 3% 6% 0 6%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 88%;
    border: solid 1px black;
    transform: perspective(25px) rotateX(0.4deg);
    background-color: white;
    box-shadow: 0px 0px 80px orange;
}

#coreGround {
    width: 100%;
    height: auto;
}

#coreHeadline {
    display: flex;
    flex-direction: row;
    margin: 0 0 1% 2%;
}

#coreInputMask {
    display: flex;
    flex-direction: row;
}

#coreInputTask {
    display: flex;
    flex-direction: column;
    margin: 0 1% 0 2%;
    width: 70%;
}

#coreInputBegin {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1%;
    width: 10%;
    text-align: center;
}

#coreInputEnd {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    width: 10%;
    text-align: center;
}

#coreSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70%;
    margin: 0 2% 0 1%;
    width: 5%;
}

/* Bereich für den listBox */

.listBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    margin: 3% 4% 0 4%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 92%;
    border: solid 1px black;
    background-color: white;
    box-shadow: 0px 0px 100px orange;
}

#listTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: auto;
    font-size: 100%;
}

#listHeadline {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 0 0 20px;
    padding: 0 0 10px 0;
}

#thAufgabe {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 70%;
}

#thDate {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 13%;
}

#thEnd {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 4%;
}


tr {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
}

tbody{
    display: flex;
    flex-direction: column;
}

td {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px black;
    width: 25%;
}