/* Standardwerte für komplettes HTML */
* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Bereich für die headBox */

body {
    background-color: black;
    animation: glimmerBG 5s infinite alternate;
    /* Farbanimation  */
}

@keyframes glimmerBG {
    0% {
        background-color: #000000;
        /* Startfarbe */
    }

    100% {
        background-color: #4e1e11;
        /* Endfarbe */
    }
}


.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    vertical-align: top;
    width: 98%;
    height: 100%;
    padding: 0 1% 0 1%;
    animation: glimmerBG 5s infinite alternate;
    /* Farbanimation  */
}

@keyframes glimmerBG {
    0% {
        background-color: #000000;
        /* Startfarbe */
    }

    100% {
        background-color: #4e1e11;
        /* Endfarbe */
    }

}

.headBoxSmall3 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 2% 20% 0 20%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 60%;
    border: solid 1px black;
    transform: perspective(2px) rotateX(0.5deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
    animation: glimmerhBS 9s infinite alternate;
    /* Farbanimation  */
}

@keyframes glimmerhBS {
    0% {
        background-color: white;
        border-radius: 0;
        /* Startfarbe */
    }

    100% {
        background-color: #f9e4c2;
        border-radius: 20px;
        /* Endfarbe */
    }
}

.headBoxSmall3:hover {
    background-color: #FCA311;
    /* Startfarbe */
    animation: glimmer3 1s infinite alternate, resize3 0.9s infinite alternate;
    /* Farbanimation und Größenanimation */
}

@keyframes glimmer3 {
    0% {
        background-color: #FCA311;
        /* Startfarbe */
    }

    100% {
        background-color: #FF5733;
        /* Endfarbe */
    }
}

@keyframes resize3 {

    0%,
    100% {
        transform: scale(1) perspective(2px) rotateX(0.5deg);
        /* Normale Größe */
        box-shadow: 0px 0px 50px orange;
    }

    50% {
        transform: scale(1.1) perspective(2.05px) rotateX(0.6deg);
        /* 10% größer als normal */
        box-shadow: 0px 0px 100px rgb(255, 230, 182);
    }
}

.headBoxSmall2 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 1% 32% 0 32%;
    padding: 2% 0 2% 0;
    height: auto;
    width: 36%;
    border: solid 1px black;
    transform: perspective(2px) rotateX(0.8deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
    animation: glimmerhBS 9s infinite alternate;
}

.headBoxSmall2:hover {
    background-color: #FCA311;
    /* Startfarbe */
    animation: glimmer2 1s infinite alternate, resize2 0.7s infinite alternate;
    /* Farbanimation und Größenanimation */
}

@keyframes glimmer2 {
    0% {
        background-color: #FCA311;
        /* Startfarbe */
    }

    100% {
        background-color: #FF5733;
        /* Endfarbe */
    }
}

@keyframes resize2 {

    0%,
    100% {
        transform: scale(1) perspective(2px) rotateX(0.8deg);
        /* Normale Größe */
        box-shadow: 0px 0px 50px orange;
    }

    50% {
        transform: scale(1.1) perspective(2.2px) rotateX(1.0deg);
        /* 10% größer als normal */
        box-shadow: 0px 0px 100px rgb(255, 230, 182);
    }
}


.headBoxSmall1 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 1% 39% 0 39%;
    padding: 1% 0 1% 0;
    height: auto;
    width: 22%;
    border: solid 1px black;
    transform: perspective(0.5px) rotateX(0.8deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
    animation: glimmerhBS 9s infinite alternate;
}

.headBoxSmall1:hover {
    background-color: #FCA311;
    /* Startfarbe */
    animation: glimmer1 1s infinite alternate, resize1 0.6s infinite alternate;
    /* Farbanimation und Größenanimation */
}

@keyframes glimmer1 {
    0% {
        background-color: #FCA311;
        /* Startfarbe */
    }

    100% {
        background-color: #FF5733;
        /* Endfarbe */
    }
}

@keyframes resize1 {

    0%,
    100% {
        transform: scale(1) perspective(0.5px) rotateX(0.8deg);
        /* Normale Größe */
        box-shadow: 0px 0px 50px orange;
    }

    50% {
        transform: scale(1.1) perspective(0.7px) rotateX(0.9deg);
        /* 10% größer als normal */
        box-shadow: 0px 0px 100px rgb(255, 230, 182);
    }
}


.headBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 3% 10.5% 0 10.5%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 79%;
    border: solid 1px black;
    transform: perspective(20px) rotateX(0.5deg);
    background-color: white;
    box-shadow: 0px 0px 50px orange;
    animation: glimmerHB 10s infinite alternate;
    /* Farbanimation  */
}

@keyframes glimmerHB {
    0% {
        background-color: white;
        border-radius: 0;
        /* Startfarbe */
    }

    100% {
        background-color: #f9e4c2;
        border-radius: 50px;
        /* Endfarbe */
    }
}


/* Bereich für den coreBox */

.coreBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 3% 6% 0 6%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 88%;
    border: solid 1px black;
    transform: perspective(25px) rotateX(0.4deg);
    background-color: white;
    box-shadow: 0px 0px 80px orange;
    animation: glimmerCB 8s infinite alternate;
    /* Farbanimation  */
}

@keyframes glimmerCB {
    0% {
        background-color: white;
        border-radius: 0;
        /* Startfarbe */
    }

    100% {
        background-color: #f9e4c2;
        border-radius: 50px;
        /* Endfarbe */
    }
}

#coreGround {
    width: 100%;
    height: auto;
}

#coreHeadline {
    display: flex;
    flex-direction: row;
    margin: 0 0 1% 2%;
    justify-content: center;
    text-decoration: underline;
}

#coreInputMask {
    display: flex;
    flex-direction: row;
}

#coreInputTask {
    display: flex;
    flex-direction: column;
    margin: 0 0.5% 0 2%;
    padding: 5px;
    width: 65%;
    box-shadow: 3px 3px 20px gray;
    border-radius: 10px;
}

#inputTask {
    width: 100%;
    box-shadow: 3px 3px 20px gray;
}

#iTask {
    border: none;
}

#coreInputTask:hover {
    box-shadow: 3px 3px 15px black;
    border: 1px solid black;
    border-width: inherit;
}

#coreInputBegin {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 1px;
    width: 85px;
    text-align: center;
    box-shadow: 3px 3px 5px gray;
    border-radius: 10px;
}

#inputBegin {
    width: 100%;
    height: 2em;
    box-shadow: 3px 3px 20px gray;
    border-radius: 10px;
}

#iBegin {
    font-size: 0.8em;
}

#coreInputBegin:hover {
    box-shadow: 3px 3px 15px black;
    border: 1px solid black;
    border-width: inherit;
}

#coreInputEnd {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 1px;
    width: 85px;
    text-align: center;
    box-shadow: 3px 3px 5px gray;
    border: none;
    border-radius: 10px;
}

#inputEnd {
    width: 100%;
    height: 2em;
    box-shadow: 3px 3px 20px gray;
    border-radius: 10px;
}

#iEnd {
    font-size: 0.8em;
}

#coreInputEnd:hover {
    box-shadow: 3px 3px 15px black;
    border: 1px solid black;
    border-width: inherit;
}

#coreSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    margin: 0 1px 0 1px;
    width: 65px;
    box-shadow: 3px 3px 2px gray;
    border: 1px solid black;
    border-radius: 10px;
}

#coreSubmit:hover {
    box-shadow: 3px 3px 15px black;
    border: 1px solid black;
    border-width: thin;
}

/* Bereich für den listBox */

.listBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    margin: 3% 4% 0 4%;
    padding: 3% 0 3% 0;
    height: auto;
    width: 92%;
    border: solid 1px black;
    background-color: white;
    box-shadow: 0px 0px 100px orange;
    animation: glimmerLB 9s infinite alternate;
    /* Farbanimation  */
}

@keyframes glimmerLB {
    0% {
        background-color: white;
        border-radius: 0;
        /* Startfarbe */
    }

    100% {
        background-color: #f9e4c2;
        border-radius: 50px;
        /* Endfarbe */
    }
}

#listTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: auto;
    font-size: 100%;
}

#listHeadline {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 0 0 20px;
    padding: 0 0 10px 0;
}

#thAufgabe {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 65%;
}

#thDate {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 8em;
}

#thEnd {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 6em;
}


tr {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
}

tbody {
    display: flex;
    flex-direction: column;
}

td {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px black;
    width: 25%;
}

/* Bereich für den Rotater */

.rotater {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    height: 300px;
    width: 100%;
}

.cube {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCubeR 4s infinite linear, glimmerR 2s infinite alternate;
    box-shadow: 20px 20px 100px #ffffff;
    /* Rotationsanimation und Farbwechsel */
}

.side {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgba(252, 163, 17, 0.8);
    box-shadow: 20px 20px 100px #ffffff;
    /* Startfarbe */
}

.front {
    transform: rotateY(0deg) translateZ(25px);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.back {
    transform: rotateY(90deg) translateZ(25px);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.right {
    transform: rotateY(180deg) translateZ(25px);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.left {
    transform: rotateY(-90deg) translateZ(25px);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.top {
    transform: rotateX(90deg) translateZ(25px);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.bottom {
    transform: rotateX(-90deg) translateZ(25px);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
}

@keyframes rotateCubeR {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes glimmerR {
    0% {
        background-color: rgba(252, 163, 17, 0.8);
        /* Startfarbe */
    }

    100% {
        background-color: rgba(255, 87, 51, 0.8);
        /* Endfarbe */
    }
}
